*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
	background-image: url("img/fondo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

 #contenedor{
 	width: 100%;
 	margin: auto;
 	margin-top: 20px;
 	margin-bottom: 20px;
 	border-radius: 20px;
 }


 header{
 	width: 100%;
 	height: 100px; 
 	background-image: url("img/.fondojpg");
 	color: #fff
 	background-repeat: no-repeat;
 	background-size: cover;
 }
header h1 {
	font-size: 50px;
	text-align: left;
	line-height: 95px;
 	color:#000;
 	padding: auto;
}


 section{
 	width: 100%
 	margin-bottom:35px;
 }
 #banner{
	margin-top:05px;
	position: relative;
}

#banner img {
	width: 100%;
	height: 100%;
}

#banner .contenedor{
	position: absolute;
	top:50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
	color:#000;
}

#banner h2{
	font-size: 30px;
}
#banner a{
	display: block;	
	width: 100px;
	text-decoration: none;
	color: #fff
	padding: 7px;
	margin-top: 10px;
	border: 3px solid #fff
}

#banner a:hover{
	background:  rgba(51,51,51,0.3);
}

nav{
	background: rgba(51,51,51,0.3);
	height: 40px;
	position: relative;
}

nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
nav>ul>li{
	float: left;
}

nav ul li a{
	text-decoration: none;
	color:#000;
	display: block;
	padding: 10px 20px;
}
nav ul li a:hover{
	background:rgba(51,51,51,0.3) ; 
}
nav>ul>li:hover div{
	display: table;
}

/*Submenu*/
.submenu{
	position:absolute;
	background: #333333
}
nav ul li div {
	width: 1000px
	left: 0;
	position: absolute;
	background: #333333
	box-sizing: border-box;
	display: none;
}
nav ul li div ul{
	width:200px;
	display: table-cell;
	box-sizing:border-box;  
	border-right: 1px solid rgba(255,255,255,.5)
}
nav ul li div ul .titulo{

}
#bienvenidos  {
	text-align: center;
	font-size: 25px;

}

#contenido{
	width: 100%;
	height: 500px;
	float:left;
	background: ;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
#contenido h2{
	font-size: 40px;
	text-align: center;
	line-height: 500px;
}


#lonuevo h3,h4{
	text-align: center;
	font-size: 30px;
}

#lonuevo .contenedor{
	display: flex;
	justify-content: :center
	flex-wrap: wrap;
}

#lonuevo article{
	margin: 15px
}

footer{
	clear: both;
	background: rgba(255,255,255,.5);
}
footer .contenedor{
	display: flex;
	flex-wrap: wrap; 
	justify-content: center;
	padding-bottom: 15px;  
} 
.copy{
	font-size: 20px;
}
.sociales{
	width:42px;
	height: 42px;
}
.sociales a{
	text-decoration:none;
	color: #333
}

